body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(120, 122, 244);
    color: #e4d8d8;
}

header {
    background-color: rgb(26, 26, 60);
    color: #f0e6e6;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav {
    margin-top: 10px;
}

nav a {
    color: #f0e6e6;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 1s ease, transform 1s ease;
}

section.visible {
    opacity: 1;
    transform: translateY(0);
}

.about,
.skills,
.projects,
.contact,
.education {
    margin-bottom: 40px;
}

.skills ul,
.projects ul,
.education ul,
.hobbies ul {
    list-style: none;
    padding: 0;
}

.skills li,
.projects li,
.education li ,
.hobbies li
{
    background: #e3dde86e;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: #240303;
    color: #b4aaaa;
}

.contact form {
    display: flex;
    flex-direction: column;
    max-width: 600px;
    margin: auto;
}

.skill {
    margin-bottom: 20px;
}

.skill-bar {
    background: #3a3a6a;
    border-radius: 20px;
    overflow: hidden;
    height: 20px;
    margin-top: 5px;
}

.skill-level {
    background: linear-gradient(90deg, #6a82fb, #fc5c7d);
    height: 100%;
    width: 0;
    border-radius: 20px;
    transition: width 2s cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 0 10px #6a82fb, 0 0 20px #fc5c7d;
}
